.header {
  display: flex;
  flex-direction: row;
  background-color: #5D2A7A;
  margin: 0px;
  width: 100%;
  padding: 5px;
}

.navigation-outer {
  display: flex;
  width: 68%;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation > .link > a:hover {
  color: #4DFFA1;
}

.link {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
}

#ember172, #ember173, #ember174 {
  justify-content: center;
  height: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #FFE5B5;
}

#ember172:hover, #ember173:hover, #ember174:hover {
  border: 1px solid #4DFFA1
}

.ember-view {
  text-decoration: none;
  color: #FFE5B5;
}

.h1 {
  text-decoration: none;
  color: #FFE5B5;
  font-size: 40px;
}