<div class='bio-container'>
  <p class='bio-p'>
    Writing about myself is hard. The trouble that I always run into is that I'm not a 1 dimensional person! I love most
    technical subjects, from aircraft to photolithography, I'm into it. I have built several remote controlled aircraft
    both fixed wing and quadcopters. I am constantly using a workflow of CAD and 3d printing to design and prototype
    solutions to problem that I run into.
  </p>
  <br>
  <p class='bio-p'>
    For instance, I custom designed cycling computer mount for my handlbars which aren't compatible with any mounts on the
    market. I have also designed my own bracket for changing the hot end on one of my 3d printers, as I wanted to be able
    to print a wider variety of materials.
  </p>
  <br>
  <p class='bio-p'>
    I am also programming a lot. I build websites, and I work on programmable hardware such as arduino, raspberry pi, etc.
    If you want to check out those projects, feel free to check them out at the project index pages linked above!
  </p>
  <br>
  <p class='bio-p'>
    Communication and problem solving are my default modes of operation. I love a challenging project, and I love it even
    more when I can work with an amazing team. Building things (physical and digital) and cracking jokes are my specialty.
  </p>
  <br>
  <p class='bio-p'>
    Get in touch with me if you'd like to have me on your team, producing simple solutions to complex problems, and
    providing you with on-time work of excellent quality.
  </p>
  <br>
  <p class='bio-p'>
    Oh, I suppose I should mention the technologies I use and what I have experience with...
  </p>
  <br>
  <div class='list-container'>
    <ul class="software bio-list">Software
      <li>JavaScript</li>
      <li>React</li>
      <li>Ember</li>
      <li>D3.js</li>
      <li>Ruby</li>
      <li>Python</li>
    </ul>
    <ul class="hardware bio-list">Hardware
      <li>Machining (Mill and Lathe)</li>
      <li>Welding</li>
      <li>3d Printing</li>
      <li>Soldering</li>
    </ul>
    <ul class='soft-skills bio-list'>Soft Skills
      <li>Excellent Communicator</li>
      <li>Detail Oriented</li>
      <li>Deadline Oriented</li>
      <li>Intuitive Problem Solver</li>
      <li>Self Starter</li>
      <li>Outside the Box Thinker</li>
    </ul>
  </div>
</div>

  

  

  

  

{{!-- Adept tinkerer, modifier and problem solver with superb communication skills. Thoroughly enjoys the detail side of any
work, be it refactoring code, or reorganizing the wire management in a computer. Broad, technically focused skillset.
These skills include (among other things) soldering, welding, machining, as well as CAD, technical drawing, 3d printing,
hardware and software troubleshooting/design, and programming/web development.

Preferred languages are JavaScript, Ruby, Python 3, and C++. Familiar with HTML and CSS. Mostly web development focused
so far, but particularly interested in Data Visualization. (see www.irrational-art.com for an example)

Works best in a demanding team environment (ask his high school rowing team!) and is very deadline oriented. Favorite
pastime is figuring out how things work. Be it the radio he took apart (and couldn’t put back together!) at age 5, the
ground up amplifier rebuild for an old stereo system or being self-taught in how computer hardware works. (and is made –
photolithography is extremely cool!) --}}

{{outlet}}