<h2 class="contact-h1">Contact Kevin Kaminski</h2>
<p>
  If you'd like to contact me, please feel free to reach out to me through any of the following channels:
</p>
<ul class="contact-list">
  <li class="contact-item">
    <a href="https://www.linkedin.com/in/kevin-kaminski-850991b7/">LinkedIn Profile
    </a>
  </li>
  <li class="contact-item">
    <a href="mailto:kevin@kaminskisinterests.com">Email: kaminskikeving@gmail.com</a>
  </li>
  or
  <br>
  <li class="contact-item">
    Phone: (206) 681-7386
  </li>
</ul>

{{outlet}}