<h2>Contact Kevin Kaminski</h2>
<p>
  If you'd like to contact me, please feel free to reach out to me through any of the following channels:
</p>
<ul>
  <li>
    <a href="https://www.linkedin.com/in/kevin-kaminski-850991b7/">LinkedIn
    </a>
  </li>
  <li>
    <a href="mailto:kevin@kaminskisinterests.com">Email</a>
  </li>
  or
  <br>
  <li>
    Phone: (206) 681-7386
  </li>
</ul>

{{outlet}}