<div class="dev-div">
  <p class="dev-p">Here are my Web/Software Development Projects:</p>
  <ul class="dev-list">
    <li class="dev-item">Striva</li>
    <li class="dev-item">Irrational-Art</li>
    <li class="dev-item">D3.js Project
      (World map with a plot pf the locations of all servers accessed by a user's computer over a given period of time)
    </li>
    <li class="dev-item">Python Project of some kind</li>
  </ul>
</div>

{{outlet}}