<div>
  <p>
    Here are some of my personal projects that are not strictly software/web development focused: 
  </p>
  <ul>
    <li>Cycling Computer Mount</li>
    <li>Maker Ultimate Upgrades</li>
    <li>CCSF Robot Build</li>
    <li>Computer Build</li>
    <li>Home File Server/NAS</li>
  </ul>
</div>
{{outlet}}