<div class="personal-div">
  <p class="personal-p">
    Here are some of my personal projects that are not strictly software/web development focused: 
  </p>
  <ul class="personal-list">
    <li class="personal-item">Cycling Computer Mount</li>
    <li class="personal-item">Maker Ultimate Upgrades</li>
    <li class="personal-item">CCSF Robot Build</li>
    <li class="personal-item">Computer Build</li>
    <li class="personal-item">Home File Server/NAS</li>
  </ul>
</div>
{{outlet}}